.App {
  min-height: 100vh;
}

.components {
  display: flex;
  padding: 5px;
}

.components > * {
  background-color: #222;
  margin: 5px;
  padding: 10px;
}

.Component {
    display: flex;
    flex-direction: column;
}

.Component-rowExpandable {
    flex-grow: 1;
}

.Component-rowFixed {
    flex-grow: 0;
}
