.components {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.components > * {
  background-color: #222;
  margin: 5px;
  padding: 10px;
  width: 300px;
  flex-grow: 1;
}

.Component {
  display: flex;
  flex-direction: column;
}

.Component-rowExpandable {
  flex-grow: 1;
}

.Component-rowFixed {
  flex-grow: 0;
}
