* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #ccc;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

h1 {
  margin: 0 0 0.7rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
}

h2 {
  margin: 0 0 0.5rem;
}

a:link,
a:active,
a:visited {
  color: inherit;
  text-decoration-color: #666;
}

button {
  background-color: #666;
  border-radius: 0.4em;
  border: none;
  display: inline-block;
  color: #ccc;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.2em 1em;
  text-decoration: none;
  line-height: 1.3;
}

button:active:not(.link-button) {
  background-color: #444;
  position: relative;
  top: 1px;
}

button.link-button {
  padding: 0;
  background: none;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
  text-decoration-color: #666;
  cursor: pointer;
}

button.link-button:focus {
  outline: none;
}

textarea {
  color: #ccc;
  background-color: #444;
}

/* Taken from https://www.filamentgroup.com/lab/select-css.html */
select {
  display: block;
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: normal;
  color: #ccc;
  line-height: 1.3;
  padding: 0.2em 2em 0.2em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.4em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image:
    url('/ui/select-arrows.svg'),
    linear-gradient(to bottom, #656565 0%, #656565 100%);
  background-repeat:
    no-repeat,
    repeat;
  background-position:
    right -0.1em top 50%,
    0 0;
  background-size:
    1.4em auto,
    100%;
}

select::-ms-expand {
  display: none;
}

select:focus {
  box-shadow: 0 0 1px 3px rgba(150, 150, 150, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 0 solid transparent;
  background-clip: padding-box;
}

tr > td + td {
  border-left-width: 0.3em;
}

tr + tr > td {
  border-top-width: 0.5em;
}
